%h1 Lotto
%h3 What project should I work on today?
%p  No longer waste time deciding what project to work on. 
Lotto takes the decision making out your hands. Simply  
add your projects, click get project and voila!
%h3 History
%p  Want to see how productive you&apos;ve been lately?
We gotcha, your projects marked as complete are available 
in history 
%a(href='/project')Get Started