<main>
   <div id="main-container">
         <h3>What project should I work on today?</h3> 
           <ul>
             <li><a href='/project'>Add Project</a></li>
             <li><a href='/get/project'>Get Project</a></li>
           </ul>
     </div> 
  </main>
</div>