!!! 5
%html
  %head
  %title Lotto - A Productivity Tool
  %link{ :rel => 'stylesheet', :href => url('')}
  %link{ :rel => 'stylesheet', :href => url('css/main.css')}
  %script(src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous")
  %script(src='js/main.js')
%body
  #content 
    =yield

